{% extends "layout.html" %}

{% block title %}
    Post Volunteer Opportunity
{% endblock %}

{% block main %}
    <form action="/newthing" method="post">
        <div class="mb-3">
            Activity Name:
            <br><input id="name" name="name" placeholder="Title" type="text"> <br>
            Type: 
            <br><div class="mb-3">
                <select name="type" id="type">
                    <option>eco stuff</option>
                    <option>teaching</option>
                    <option>other</option>
                    <option>testingtesting</option>
                </select>
            </div><br>
            Date:
            <br> <input id="date" name="date" placeholder="00/00/00" type="date"><br>
            Description:
            <br><textarea id="description" name="description" placeholder="Describe the activity" type="text"></textarea><br>
            How much time will it take? 
            <br><input id="duration" name="duration" placeholder="Hours and a half" type="number" step="0.5">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
