{% extends "layout.html" %}

{% block title %}
    Posted Events: Responses
{% endblock %}

{% block main %}
<h2>All Posted Events</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Type</th>
            <th>Description</th>
            <th>Duration (hrs)</th>
        </tr>
    <tbody>
        
    {% for event in events %} 
    <tr>
        <td>{{ event.date }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.type }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.duration }} </td>
    </tr>
    {% endfor %}
    </tbody>

</table>

<h2>All Responses</h2>
<table>
        <tr>
            <th>Event</th>
            <th>Volunteers</th>
            <th>Contact</th>
        </tr>
    <tbody>
    {% for i in responses %}
    <tr>
        <td>{{ responses[i][0]}}</td>
        <td>{{ responses[i][1]}}</td>
        <td>{{ responses[i][2]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}