{% extends "layout.html" %}

{% block title %}
    Log In as Organization
{% endblock %}

{% block main %}
    <h2>Log In as Organization</h2>
    <form action="/orglogin" method="post">
        <div class="mb-3">
            <input autocomplete="off" id="user" name="user" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
        <button type="submit">Log In</button>
    </form>
{% endblock %}
