{% extends "layout.html" %}

{% block title %}
    Sign up for this activity
{% endblock %}

{% block main %}
    <form action="/form" method="post">
        <div class = "form-group">
            <input type = "text" class = "form-control" id = "exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name" name='first_name' value="">
        </div>

        <div class = "form-group">
            <input type = "text" class = "form-control" id = "exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name" name='last_name' value="">
        </div>

        <div class = "form-group">
            <input type = "text" class = "form-control" id = "exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name='email' value="">
        </div>

        <br/>
        <button type = "submit" class="btn btn-secondary">Submit</button>


    </form>
{% endblock %}
